* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

html {
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    &:active {
        transform: scale(0.99);
    }
}

img {
    width: 100%;
    object-fit: contain;
}

.App {
    min-height: 100vh;
}

ul {
    list-style: none;
}

.Night {
    background: url("../../assets/imgs/bg2.png")  fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Day {
    background: url("../../assets/imgs/bg1.png")  fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



