@keyframes bounce {
    0%,
    50%,
    100% {
        transform: scale(1);
    }

    25%,
    75% {
        transform: scale(1.2);
    }
}

.current-weather {
    @include center;
    flex-direction: column;
    color: #ffffff;
    margin-bottom: 3rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s all;
    .title {
        @include center;
        .location-title {
            margin: 0;
            font-size: 3rem;
            text-align: center;
        }
        .btn-favorite {
            border: none;
            background-color: transparent;
            outline: none;
            margin-right: 0.5rem;
            cursor: pointer;
            transition: 0.3s all;
            &:hover {
                animation: 0.5s bounce ease-out forwards;
            }

            svg {
                filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
                height: 2rem;
                width: 2rem;
                transition: 0.3s all;
                fill: #ffffff;
            }
           
        }
        .isFavorite  {
            svg{
                fill: #f44336;
            }
        }
    }

    .location-weather {
        width: 282px;
        @include center;
        .temperature {
            font-size: 2.5rem;
        }
    }
    h3 {
        font-size: 2rem;
    }
   
}
