.forecast-list {
    @include center;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s all;
    @include for-narrow-layout {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
  
    // @include for-mobile-layout {
    //     display: inline;
    //     img {
    //         width: 80%;
    //     }
    // }
}
