header {
	@include center;
	justify-content: space-between;
	height: 10%;
	background-color: rgba(160, 180, 180, 0.5);
	margin-bottom:20px;
    padding: 0 2rem;
	color: #fff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	font-weight: 600;
	.logo {
		margin-top: 10px;
		width: 60px;
	}
	nav {
		@include center;
		.toggle-btn {
			border-radius: 5px;
			padding: 3px 7px;
			color: #eee;
			cursor: pointer;
			&:hover {
				background-color: rgb(99, 99, 87);
			}
		}
		.nav-link {
			border-radius: 5px;
			padding: 3px 7px;
			color: #eee;
			&:hover {
				background-color: rgba(150, 150, 150, 0.5);
			}
			&.active {
				background-color: $clr1;
			}
		}
	}
	@include for-narrow-layout{
		flex-direction: column;
		padding: 1em;
	}
}
